.App {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 90px;
  background-color: #000000;
  height: 100vh;
}

.logo-section {
  width: 90px;
  height: 90px;
  background-color: #ED1B2E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-square {
  width: 44px;
  height: 41px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.icons-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notification-icon {
  margin-top: 60px;
  margin-bottom: 20px;
}

.top-section {
  height: 90px;
  display: flex;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  padding: 0 20px;
}

.page-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-name {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  margin-right: 10px;
}

.search-filter-container {
  width: 292px;
  display: flex;
}

.input {
  width: 186px;
  height: 41px;
  box-sizing: border-box;
  background-color: #F6F6F6;
  border: 1px solid #BDBDBD;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-input {
  padding: 10px 10px 10px 40px;
  /* border: none; */
  outline: none;
  /* border-radius: 5px; */
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  fill: #999;
}

.filter {
  width: 94px;
  height: 41px;
  box-sizing: border-box;
  background-color: #F6F6F6;
  border: 1px solid #BDBDBD;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.main-section {
  width: 100%;
  /* display: flex; */
  /* flex-direction: row; */
}

.custom-node {
  width: 226px;
  height: 96px;
  background: #F6F6F6;
  border: 1px solid #E7E5E4;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-image {
  position: absolute;
  top: -30px;
  left: 38%;
  z-index: 1000000;
}

.profile-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  margin-top: 10px;
  /* line-height: 16px; */

}

.designation-text {
  font-family: 'Montserrat';
  font-style: normal;
  /* font-weight: 400; */
  font-size: 12px;
  font-weight: 500;
  color: #6A6A6A;
  /* margin-top: -30px; */
  /* line-height: 15px; */
}

.dots-image {
  position: relative;
  top: -5px;
  right: -100px;
}

.plus-image {
  position: relative;
  top: 17px;
  right: 0px;
  z-index: 30000;
}




